<% if current_user.admin %>
  <h1> Users </h1>
<% else %>
  <h1>Top Road Warriors</h1>
<% end %>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">Miles Driven</th>
      <th scope="col">Current Car</th>
      <th scope="col">Current Trip</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="table-active">
        <th scope="row"><%= link_to user.username, user_path(user) %></td>
        <td><%= user.miles_driven %></td>
        <td><%= link_to find_car(user.current_car_id).make_and_model, car_path(find_car(user.current_car_id)) if user.current_car_id %></td>
        <td><%= link_to find_trip(user.current_trip_id).title, road_trip_path(find_trip(user.current_trip_id)) if user.current_trip_id %></td>
        <% if current_user.admin %>
          <td><%= link_to 'Show', user %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% if current_user.admin %>
  <%= link_to 'Create New User', new_user_path %>
<% end %>
