<p id="notice"><%= notice %></p>
<div class="card mb-3">
  <h3 class="card-header"><%= @user.username %></h3>
  <div class="card-body">
    <h5 class="card-title"><%= @user.miles_driven %> Miles Driven</h5>
    <h6 class="card-subtitle text-muted"><%= @user.user_road_trips.size %> Trip(s) Taken</h6>
  </div>
  <center><img style="height: 200px; width: 400px; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image"></center>
  <div class="card-body">
    <p class="card-text">Trips Taken:</p>
  </div>
  <ul class="list-group list-group-flush">
    <% @user.user_road_trips.each do |user_road_trip| %>
      <li class="list-group-item"><%= link_to road_trip_finder(user_road_trip.road_trip_id).title, road_trip_path(road_trip_finder(user_road_trip.road_trip_id)) %>
        <span class="badge badge-pill badge-primary" style="float:right">
          <%= 'Completed' if user_road_trip.completed %>
          <%= 'In Progress' if user_road_trip.road_trip_id = current_user.current_trip_id %>
        </span>
      </li>
    <% end %>
  </ul>
  <div class="card-body">
    <p class="card-text">Trips Created:</p>
  </div>
  <ul class="list-group list-group-flush">
    <% if trips_created(@user).empty? %>
      <li class="list-group-item"><center><%= link_to "Create Some Trips!", new_road_trip_path %></center></li>
    <% end %>
    <% trips_created(@user).each do |trip| %>
      <li class="list-group-item"><%= link_to trip.title, road_trip_path(trip) %></li>
    <% end %>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Comments Made</a>
    <a href="#" class="card-link">Comments Received</a>
  </div>
  <div class="card-footer text-muted">
    Road Warrior Since: <%= @user.created_at %> |
    <% if current_user.admin || current_user == @user %>
      <%= link_to 'Edit', edit_user_path(@user) %> |
    <% end %>
    <%= link_to 'Back', users_path %>
  </div>
</div>
