<h1>Tags</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Tag</th>
      <th scope="col">Popularity</th>
      <th scope="col">Last Destination</th>
    </tr>
  </thead>
  <tbody>
    <% @tags.each do |tag| %>
      <tr class="table-active">
        <td><%= tag.title %></td>
        <td><%= tag.popularity %></td>
        <td><%= link_to tag.last_destination.name, destination_path(tag.last_destination) if tag.last_destination %></td>
        <% if current_user.admin %>
          <td><%= link_to 'Show', user %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
