<p id="notice"><%= notice %></p>

<p>
  <strong>Tag:</strong>
  <%= @tag.title %>
</p>
<p>
  <strong>Destinations :</strong>
  <% @tag.destinations.each do |destination| %>
    <%= link_to destination.name, destination_path(destination) %> |
  <% end %>
</p>
<% if current_user.admin %>
  <%= link_to 'Edit', edit_tag_path(@tag) %> |
<% end %>
<%= link_to 'Back', road_trips_path %>