<%= form_for(@destination) do |f| %>
  <% if @destination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@destination.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @destination.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :description %><br>
  <%= f.text_area :description, size: "75x5" %><br>

  <%= f.label :city %>
  <%= f.text_field :city %> ,

  <%= f.label :state %>
  <%= f.text_field :state %><br>

  <%= f.label :street_address %>
  <%= f.text_field :street_address %><br><br>

  <h6 class="card-subtitle text-muted">Add a descriptive tag or two to this destination, so people know what this place is like.</h6><br>

  <%= f.fields_for :tags, f.object.tags.build do |tags_fields| %>
    <%= tags_fields.label :tag_1 %>
    <%= tags_fields.text_field :title %><br>
    <%= tags_fields.label :tag_2 %>
    <%= tags_fields.text_field :title %><br>
    <%= tags_fields.label :tag_3 %>
    <%= tags_fields.text_field :title %>
  <% end %>

  <br><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
