<div class="card mb-3" style="height: 100%; width:49%; float:left; margin:1px">
  <% if current_user.current_car %>
    <h3 class="card-header">Current Car</h3>
    <div class="card-body">
      <h5 class="card-title"><%= current_user.current_car.make_and_model %></h5>
      <h6 class="card-subtitle text-muted"><%= current_user.current_car.mpg %> MPG</h6>
    </div>
    <img style="height: 100%; width: 100%; display: block; border: 1px solid black;" src="https://www.allcarleasing.co.uk/images/img-placeholder.jpg" alt="Card image">
    <div class="card-body">
      <button type="button" class="btn btn-primary">Current Car</button>
    </div>
  <% end %>
  <% if current_user.cars.empty? %>
    <div class="card-body">
      <h5 class="card-title">Add Cars to Your Garage</h5>
      <h6 class="card-subtitle text-muted">Then Select A Car for a Trip</h6>
    </div>
  <% else %>
  <h3 class="card mb-3 card-header">Garage</h3>
    <% current_user.cars.each do |car| %>
      <% next if car == current_user.current_car %>
      <div class="card-body">
        <h5 class="card-title"><%= car.make_and_model %></h5>
        <h6 class="card-subtitle text-muted"><%= car.mpg %> MPG</h6>
      </div>
      <img style="height: 100%; width: 100%; display: block; border: 1px solid black;" src="https://www.allcarleasing.co.uk/images/img-placeholder.jpg" alt="Card image">
      <div class="card-body">
        <button type="button" class="btn btn-primary">Make Your Current Car</button>
      </div>
    <% end %>
  <% end %>
</div>

<div class="card mb-3" style="height: 100%; width:49%; float:right">
  <h3 class="card-header">Car Listings</h3>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Make</th>
          <th scope="col">Model</th>
          <th scope="col">Miles Per Gallon</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @cars.each do |car| %>
          <tr class="table-active">
            <td><%= car.make %></td>
            <td><%= car.model %></td>
            <td><%= car.mpg %></td>
            <td><button type="button" class="btn btn-primary">Add Car to Garage</button></td>
            <% if current_user.admin %>
              <td> | <%= link_to 'Show', car %> | </td>
              <td><%= link_to 'Edit', edit_car_path(car) %> | </td>
              <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="card-footer text-muted">
      <a href="<%= new_car_path %>"><button type="button" class="btn btn-primary btn-lg btn-block">Add A New Car</button></a>
    </div>
  </div>
</div>
